* {
    box-sizing: border-box;
}

.prueba1 {
    margin: 10px;
    width: 100%;
    height: 100px;
    background: #FBEFFB;
    transition: all 2s linear;
    overflow: hidden;
}

.prueba1 > h2{

    height: 100px;
    margin-top: 50px;
}

.prueba1:hover{
    width: 100%;
    height: auto;
    transition: all 2s linear;
}
