.Main-admin{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 10%;
}
.search-text{
    width: 80%;
}
.search{
    width: 100%;
    display: flex;
    justify-content: center;
}
