.Main-admin{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 10% 10px 300px;
}
.search-text{
    width: 80%;
}
.search{
    width: 100%;
    display: flex;
    justify-content: center;
}

.drawer {
    margin-top: 56px;
    text-align: left;
}

.add-college-dialog {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}