.Main-LoadFiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    height: 80vh;
    box-sizing: border-box;
    padding: 0 20%;
}

.container-uploadfile{
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.uploadfile{
    width: 125px;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}